*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centers vertically */
    background-color: #e5d4d4; /* Dark background */
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000000b1;
    color: bisque;
    padding: 1.5rem 2rem;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

.nav__logo img {
    max-width: 120px; 
    margin-left: 2500px;

}  
.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
   
}

.nav__links .link a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: 0.3s;
}

.nav__links .link a:hover {
    color: bisque;
}

.btn {
    background-color: bisque;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 1000px;
}

.btn:hover {
    background-color: white;
}
